*
{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
} 
.row,
.row::after,
.row::before{
	clear: both;
	display: table;
	width: 100%;
}
.row > :first-child{
	padding-left: 0px;
}
.row > :last-child{
	padding-right: 0px;
}
.col-2, .col-8, .col-7,.col-5,.col-3,.col-6,.col12{
	float: left;
	padding: 0 15px;
	display: inline-block;
}
.col12{
	width:100%;
}
.col-3 {
    width: calc((100% * 3) / 12);
}
.col-2{
	width: calc((100% * 2) / 12);
}
.col-5 {
    width: calc((100% * 5) / 12);
}
.col-8{
	width:calc((100% * 8) / 12);
}
.col-6 {
    width: calc((100% * 6) / 12);
}
.col-7 {
    width: calc((100% * 7) / 12);
}
.pl-40 {
    padding-left: 40px;
}
.pl-55 {
    padding-left: 55px;
}
.pr-55 {
    padding-right: 55px;
}
.pr-25 {
    padding-right: 25px;
}
.pr-40 {
    padding-right: 40px;
}
.mb-70 {
    margin-bottom: 70px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mt-25{
	margin-bottom:25px;
}
.mb-25 {
    margin-bottom: 25px;
}
.mb-18 {
    margin-bottom: 18px;
}
.mb-13 {
    margin-bottom: 13px;
}
.mb-8 {
    margin-bottom: 8px;
}
.w-9 {
    width: calc((100% * 9) / 12);
    margin: 0 auto;
}

.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.text-up {
    text-transform: uppercase;
}
.container{
	width: 1145px;
	margin: 0 auto;
}
/* header section css */
.header{
	color: #ffffff;
	list-style: none;
	margin-top: 24px;
}
.logo{
	font-size: 18px;
	text-transform: uppercase;
	color: #4c4e50;
	font-family: bold;
}
.navbar {
	list-style: none;
	text-align: center;
}
.navbar li {
	display:inline-block;
	margin: 20px 10px 10px;
}
.navbar li a{
	font-size: 18px;
	text-transform: uppercase;
	color: #006a4d;
	cursor: pointer;
	padding:28px 15px 15px;
	
}
.navbar li a:hover,
.navbar li a:focus,
.navbar li a.active{
	text-decoration: none;
	color:#69be28;
}
.btn{
	padding: 25px;
	color: #ffffff;
	border: 1px solid #69be28;
	font-size: 18px;
	background-color: #69be28;
	cursor: pointer;
}
.hero-img{
	background-image:url("../image/hero-img.jpg");
	background-size: cover;
	width: 100%;
	height: 400px;
	position: relative;
	background-color:#a7d9e2;
}
.global{
	position: absolute;
	z-index: 5;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) 
}
.global p{
	font-size: 32px;
	color: #fff;
	margin-bottom: 25px;
	font-family: open sans;
	font-family: bold;
}
.global h2{
	font-size: 58px;
	color: #fff;
	margin-bottom: 50px;
	font-family: open sans;
	font-family: bold;
}
.about {
    padding: 125px 0 120px;
}

.info p, .speak-info p {
	font-size:16px;
	font-weight:lighter;
	margin-bottom:25px;
	line-height:18px;
	font-family: 'Open Sans', sans-serif;;
}
.info h4 {
    font-size:36px;
	font-weight:bold;
	color:#006a4d;
	margin-bottom:20px;
	font-family: 'Open Sans', sans-serif;
}
.info h2{
    font-size:20px;
	font-weight:bold;
	color:#006a4d;
	margin-bottom:15px;
	font-family: 'Open Sans', sans-serif;
}
.about-img{
	padding:45px 0 0 0;
}
.speakers {
    padding: 105px 0 100px;
    background-color: #006a4d;
}
.speak-info h2, .speak-info p, .thumb-info h4, .thumb-info p, .foot-icons h4 {
    font-weight: bold;
    color: #fff;
}
.text-down {
    text-transform: capitalize;
}
.info h2, .speak-info h2 {
    font-size: 36px;
}
.thumb-img img {
    width: 100%;
    height: 100%;
    border: 4px solid #fff;
    border-radius: 50%;
}
.thumb-info h4 {
    font-size: 18px;
}
.speak-btn {
    background-color: #006a4d;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    outline: none;
    border: 3px solid #fff;
    cursor: pointer;
    padding: 15px 22px;
}
.footer{
	padding:80px 0 75px;
	background-color:#3c3c3c;
}
.footer ul{
	display:inline-block;
}
.footer ul li{
	display:inline-block;
	color:#fff;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
}
.follow {
	margin:0px 25px 15px 30px;	
	color:#fff;
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
}
.footer ul li a{
	color:#fff;
	border:2px solid #fff;
	border-radius:50px;
	padding:5px 10px;
	margin-top:15px;
	font-size:18px;
}